html {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}
body {
	margin: 0px;
	text-align: -webkit-center;
}
form{
	width: min-content;
}
#registrace {

}
#input_email{

}
#input_uzivatel{

}
#heslo{

}
#heslo_znovu{

}
#submit{
	position: relative;
	float: left;
}
#odkaz{

}
#registrace_cele{
	width: 400px;
	height: min-content;
}
.tlacitka_registrace{
	margin: 0;
	margin-bottom: 10px;
	width: 250px;
	height: 30px;
}