html {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	font-family: sans-serif;
}
body {
	margin: 0px;
	text-align: -webkit-center;
}
form{
	width: min-content;
}
form input {
	background-color: #f8f4f4;
	border-radius: 7px;
	border-width: thin;
	border-color: #8c8c8c7a;
}
#registrace {

}
#input_email{

}
#input_uzivatel{

}
#heslo{

}
#heslo_znovu{

}
#submit{
	position: relative;
	float: left;
}
#odkaz{

}
#registrace_cele{
	width: 400px;
	height: min-content;
}
.tlacitka_registrace{
	margin: 0;
	margin-bottom: 10px;
	width: 250px;
	height: 30px;
}