html{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}
body {
	margin: 0px;
	text-align: -webkit-center;
}
form{
	width: min-content;
}
#submit{
	position: relative;
	float: left;
}
.tlacitka_prihlaseni{
	margin: 0;
	margin-bottom: 10px;
	width: 250px;
	height: 30px;
}